[mysqld]
#mysqlx=0
# pid file explícito
pid-file=/var/run/mysqld/mysqld.pid

# En desarrollo, desactiva la exigencia de transporte TLS para evitar avisos al conectar local:
require_secure_transport=OFF

# Si quisieras usar tus propios certificados (opcional):
# ssl_ca=/etc/mysql/certs/ca.pem
# ssl_cert=/etc/mysql/certs/server-cert.pem
# ssl_key=/etc/mysql/certs/server-key.pem